

<html lang="html5">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <script src="https://unpkg.com/htmx.org@2.0.4/dist/htmx.js"
            integrity="sha384-oeUn82QNXPuVkGCkcrInrS1twIxKhkZiFfr2TdiuObZ3n3yIeMiqcRzkIcguaof1"
            crossorigin="anonymous">
    </script>

</head>
<body>

<header>
    <div class="navBar">
        <div id="reviewers"
             hx-get="home/get"
             hx-trigger="load">
            <!-- To be replaced by the result of calling /get -->
        </div>
    </div>
    <h1>Hello</h1>
    <div>
    </div>
</header>

</body>
</html>

<!--We also have to add a from:body modifier to make it work properly (HTMX requirement)-->