{@java.lang.String name}
{@java.time.LocalDate startDate}
{@java.time.LocalDate endDate}

<html lang="html5">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <script src="https://unpkg.com/htmx.org@2.0.4/dist/htmx.js"
            integrity="sha384-oeUn82QNXPuVkGCkcrInrS1twIxKhkZiFfr2TdiuObZ3n3yIeMiqcRzkIcguaof1"
            crossorigin="anonymous">
    </script>

</head>
<body>

<header>
    <h1>Hello {name}</h1>
    <div>

    </div>
</header>

</body>
</html>

<!--We also have to add a from:body modifier to make it work properly (HTMX requirement)-->